/* form style */

.ra_input{
    padding: 8px 12px;
    background-color: var(--white-color);
    border-radius: 12px;
    border: 2px solid var(--secondary-light-color-10);
    transition: all 0.3 ease;
    font-size: 14px;
    line-height: 21px;
    text-overflow: ellipsis;
    outline: 0;
}

.ra_input:focus{
    box-shadow: 0 0 0 4px var(--primary-light-color);
    border-color: var(--primary-color);
}